

        .container {
            max-width: 720px;
            margin: 0 auto;
            padding: 133px 16px 60px;
            background: #F4F4F4;
            min-height: 100vh;
            position: relative;
        }

        /* 헤더 */

        /* 필터 영역 */
        .filters {
            display: flex;
            gap: 24px;
            margin-bottom: 60px;
        }

        .filter {
            position: relative;
        }

        .filter select {
            appearance: none;
            -webkit-appearance: none;
            font-size: 24px;
            font-weight: 700;
            color: #1B1B1B;
            line-height: 34px;
            border: none;
            background: none;
            padding-right: 35px;
            cursor: pointer;
        }

        .filter select:focus {
            outline: none;
        }

        .filter::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 31px;
            height: 31px;
            background-image: url('/image/icon/arrow-drop-down.svg');
            background-size: contain;
            pointer-events: none;
        }

        /* 게시글 */
        .post {
            display: block;
            background: #fff;
            border-radius: 20px;
            margin-bottom: 60px;
            width: 100%;
        }

        .post-header {
            padding: 12px;
            display: flex;
            align-items: center;
            gap: 14px;
        }

        .post-user {
            display: flex;
            align-items: center;
            gap: 14px;
        }

        .profile-img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }

        .username {
            font-size: 18px;
            font-weight: 700;
            color: #1B1B1B;
            line-height: 25.2px;
        }

        .post-meta {
            font-size: 12px;
            color: #000;
            line-height: 16.8px;
        }

        .post-image {
            width: 100%;
            height: 338px;
            object-fit: cover;
        }

        .post-content {
            padding: 16px;
            border-bottom: 0.5px solid #D9D9D9;
        }

        .post-text {
            font-size: 16px;
            line-height: 24px;
            color: #1B1B1B;
            margin-bottom: 8px;
            width:100%;
        }

        .more-btn {
            color: #4B4B4B;
            font-size: 16px;
            cursor: pointer;
        }

        .post-actions {
            padding: 16px;
            display: flex;
            gap: 12px;
        }

        .action-btn {
            display: flex;
            align-items: center;
            gap: 12px;
            color: #777777;
            font-size: 16px;
        }

        .action-icon {
            width: 24px;
            height: 24px;
        }

    