.main-container {
  max-width: 720px;
  margin: 0 auto;
  background: #f4f4f4;
  padding: 133px 16px 60px 16px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.main-search {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.main-search-title {
  font-size: 24px;
  font-weight: 700;
  color: #1B1B1B;
  margin-bottom: 16px;
  font-family: 'Pretendard', sans-serif;
  line-height: 34px;
}



/* header end */
/* category start */
.main-category {
  padding: 0;
  margin-top: 32px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.main-category-title {
  font-size: 24px;
  font-weight: 700;
  color: #1B1B1B;
  margin-bottom: 16px;
  font-family: 'Pretendard', sans-serif;
  line-height: 34px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.category-card {
  flex: 1 1 45%;
  min-width: 160px;
  max-width: 336px;
  aspect-ratio: 336/192;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 24px 24px 0;
  background-color: #b2e0ae;
  transition: width 0.2s, min-width 0.2s;
}

.category-card {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/minons.jpg') center/cover, #b2e0ae;
}

.category-card.sports {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/soccer.jpg') center/cover, #b2e0ae;
}

.category-card.outdoor {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/travel-1.jpg') center/cover, #5bc35b;
}

.category-card.culture {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/movie.jpg') center/cover, #d9d9d9;
}

.category-card.social {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/coffee.jpg') center/cover, #d9d9d9;
}

.category-card.other {
  background: linear-gradient(rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 1)), url('/image/others.jpg') center/cover, #d9d9d9;
}

.category-card .label {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* category end */


.main-group {
  width: 100%;
  box-sizing: border-box;
}

.main-group-title {
  font-size: 24px;
  font-weight: 700;
  color: #1B1B1B;
  margin-bottom: 6px;
  line-height: 34px;
}

.main-group-desc {
  font-size: 16px;
  color: #000;
  margin-bottom: 24px;

}








/* new group end */