/* 마이페이지 전체 */
.mypage-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 120px 16px 60px 16px;
  box-sizing: border-box;
  background: #f4f4f4;
  min-height: 100vh;
  position: relative;
}



/* 유저 카드 */
.user-card {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  height: 120px;
  margin-bottom: 24px;
  box-sizing: border-box;
  width: 100%;
  max-width: 685px;
}

.user-card img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 24px;

}

.user-card .username {
  font-size: 22px;
  font-weight: 700;
  color: #1b1b1b;
}

.user-card .greeting {
  font-size: 22px;
  color: #1b1b1b;
  margin-left: 8px;
}

/* 유저 정보 */
.user-info {
  background: #fff;
  border-radius: 20px;
  padding: 24px 32px;
  margin-bottom: 24px;
  max-width: 685px;
  width: 100%;
  box-sizing: border-box;
}

.user-info-title {
  font-size: 18px;
  font-weight: 600;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.user-info-badge {
  display: inline-block;
  background: #e3e3e3;
  border-radius: 50px;
  padding: 5px 12px;
  font-size: 14px;
  color: #1b1b1b;
  margin-right: 8px;
  margin-bottom: 4px;
}

/* 리스트 */
.mylists {
  display: grid;
  /* flex-wrap: wrap; */
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.mylists-card {
  background: #fff;
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #1b1b1b;
  box-sizing: border-box;
}

/* 프로필 설정, 로그아웃 */
.myprofile,
.logout {
  background: #fff;
  border-radius: 20px;
  width: 100%;
  max-width: 688px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.logout {
  background: #e3e3e3;
  color: #1b1b1b;
}

.mylists-card,
.myprofile,
.logout {
  transition: box-shadow 0.25s ease;
}

/* 호버호과 */
.mylists-card:hover,
.myprofile:hover,
.logout:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);

}

/* 반응형 */
/* @media (max-width: 720px) {
  .mypage-container {
    max-width: 100vw;
  }
  .user-card, .user-info, .myprofile, .logout {
    max-width: 100vw;
  }
  .mylists-card {
    max-width: 100vw;
  }
} */